:root {
  --color1:#fff;
  --color2: #eee;
  --color3: #e21a1a;
}


/* header {
  height: 100px;
} */

body, .head, footer {
  background-color: var(--color2);
}

footer {
  height: 125px;
}
nav, .content {
  background-color: var(--color1);
}


.head {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px;
}

.btn-primary {
  background-color: var(--color3);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color3);
    --bs-btn-border-color: var(--color3);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color3);
    --bs-btn-hover-border-color: var(--color3);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color3);
    --bs-btn-active-border-color: var(--color3);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color3);
    --bs-btn-disabled-border-color: var(--color3);
}


.list-group {
  margin-bottom: 15px;
}

.video {
  width: 90%;

}

